humanize==3.5.0
dateparser==1.0.0
aiozaneapi==1.6
matplotlib==3.4.1
simpleeval==0.9.10
async_timeout==3.0.1
googletrans==3.1.0a0
fuzzywuzzy==0.18.0
similar==0.2
asyncpg==0.22.0
braceexpand==0.1.6
polaroid==0.3.2
import_expression==1.1.4
aiohttp==3.7.4
async_cleverbot==0.2.2
numpy==1.20.2
wavelink==0.9.6
youtube_dl==2021.4.26
asyncpraw==7.2.0
twemoji_parser==0.5.1
discord_ext_menus==1.0.0a27+g6f2b873
psutil==5.8.0
tabulate==0.8.9
aiosqlite==0.17.0
asyncdagpi==3.3.2
beautifulsoup4==4.9.3
discord==1.0.1
Equation==1.2.01
Pillow==8.2.0
python-dotenv==0.17.0
